<li>
	{{name}}

	<button class="btn btn-sm change-consumed" id="change-consumed" data-id="{{id}}" data-newconsumed="{{consumed}}">
		{{#if consumed}} Move{{else}} Move{{/if}}
	</button>

	<button class="btn btn-sm delete-shake" id="delete-shake" data-id="{{this.id}}"> Delete</button>
</li>